.container {
       text-align: center;
       font-style: normal;
   }
   .justMove{
       font-style: normal;
       margin-left: 38%;
       padding-bottom: 10px;
   }
   button {
         position: relative;
       font-style: normal;
       display: inline-block;
       border-radius: 4px;
       background-color: #54f41ed0;
       border: none;
       color: #FFFFFF;
       text-align: center;
       font-size: 15px;
       padding: 20px;
       width: 90px;
       height: 25px;
       transition: all 0.5s;
       cursor: pointer;
       margin: 5px;
   }

   button span {
       cursor: pointer;
       display: inline-block;
       position: relative;
       transition: 0.5s;
   }

   button span:after {
       content: '\00bb';
       position: absolute;
       opacity: 0;
       top: 0;
       right: -20px;
       transition: 0.5s;
   }

   button:hover span {
       padding-right: 25px;
   }

   button:hover span:after {
       opacity: 1;
       right: 0;
   }
   input[type=text] {
       -webkit-transition: width 0.4s ease-in-out;
       transition: width 0.4s ease-in-out;
   }

   input[type=text]:focus {
       width: 20%;
   }

   select {
       font-style: normal;
       -webkit-appearance: none;
       -moz-appearance: none;
       -ms-appearance: none;
       appearance: none;
       outline: 0;
       box-shadow: none;
       border: 0 !important;
       background: #2c3e50;
       background-image: none;
   }

   /* Custom Select */
   .select {
       position: relative;
       display: block;
       width: 20em;
       height: 3em;
       line-height: 3;
       background: #2c3e50;
       overflow: hidden;
       border-radius: .25em;
   }

   select {
       width: 100%;
       height: 100%;
       margin: 0;
       padding: 0 0 0 .5em;
       color: #fff;
       cursor: pointer;
   }
/* 
   select::-ms-expand {
       display: none;
   } */

   /* Arrow */
   .select::after {
       content: '\25BC';
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       padding: 0 1em;
       background: #34495e;
       pointer-events: none;
   }

   /* Transition */
   .select:hover::after {
       color: #f39c12;
   }

   .select::after {
       -webkit-transition: .25s all ease;
       -o-transition: .25s all ease;
       transition: .25s all ease;
   }

   li{ display: inline-block;
       border:solid;
       width: 10%;
       padding: 10px;
       margin: 4px;
       border-radius: 20%;
       background-color: #f39c12;
   }

   ul{
       text-align:center;
   }