html {
    background-image: url('Universe-hd-purple-wallpaper-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.warningLevels {
    padding: 0.1em
}

.container {
    text-align: center;
    height: 100%;
    font-style: normal;
    background-image: url('ajE2z01_460swp.webp');
    background-repeat: no-repeat;
    background-size: 50% 70em;
    background-position: 50%;
}

.justMove {
    font-style: normal;
    margin-left: 38%;
    padding-bottom: 10px;
}

button {
    position: relative;
    font-style: normal;
    display: inline-block;
    border-radius: 4px;
    background-color: #54f41ed0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 90px;
    height: 25px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.text-input {

    position: relative;
    margin-top: 50px;
}

input[type="text"] {
    display: inline-block;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
}

input[type="text"]+label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 3px 0 0 3px;
    padding: 0 20px;
    background: #E03616;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
}

input[type="text"]:focus+label {
    transform: translateY(-120%) translateX(0%);
    border-radius: 3px;
    transition: all 0.1s ease-out;
}

input[type="text"]:focus {
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
}

select {
    font-style: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #4cca11;
    background-image: none;
}

/* Custom Select */
.select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #43b820;
    overflow: hidden;
    border-radius: .25em;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}

/* 
   select::-ms-expand {
       display: none;
   } */

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #56c235;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #f39c12;
}

.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

li {
    display: inline-block;
    border: solid;
    width: 80px;
    padding: 10px;
    margin: 4px;
    border-radius: 20%;
    background-color: #f39c12;
}

ul {
    text-align: center;
    width: 50%;
    /* text-align: center; */
    display: inline-block;
}

.error {
    color: rgb(255, 255, 255);
    font-style: bold;
}